* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --red: #ec5242;
  --black: #272a31;
  --gray: #d3d3d3;
}

#main-container {
  /* width: 768px; */
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
}

/* Menu Section */
#bg-menu {
  background-image: url(/bg-images/menu-bg.jpg);
  background-repeat: no-repeat;
  background-position-y: center;
  margin: 0 0 0.1rem;
  padding: 20px;
}

main button {
  background-color: var(--red);
  border: 0;
  width: 30rem;
  height: 8rem;
  color: white;
  font-size: 1.7rem;
  margin: 4rem 0;
  letter-spacing: 0.09rem;
}

#bg-menu button {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin-bottom: 5rem;
}

.btn-line {
  margin: 0.3rem;
  width: 4rem;
  height: 5px;
  background-color: rgb(0, 0, 0);
}

.date {
  margin: 1rem 0 4rem;
}

.date h2 {
  font-size: 2.5rem;
  color: #4d4d4d;
  margin-bottom: 1rem;
}

#bg-menu h2 {
  color: var(--red);
}

#bg-header {
  margin: 0 0 2rem;
  padding: 20px;
}

.card h1 {
  color: var(--red);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  padding: 2rem;
}

/* Header Section */
#bg-header h1 {
  color: var(--red);
  font-size: 3rem;
  line-height: 2.9rem;
  margin-bottom: 1.3rem;
}

.description-header {
  border: 2px solid white;
  line-height: 1.8rem;
  color: rgb(87, 87, 87);
  padding: 1rem;
}

/* About Section */
#about {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-header {
  color: white;
  padding: 1rem;
  padding-top: 4rem;
}

.red-line {
  width: 3rem;
  height: 1px;
  background-color: #ec5242;
  margin: 0.2rem auto 3rem;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: hsla(0, 0%, 100%, 0.091);
  margin: 1rem;
  padding: 1rem;
  width: 37rem;
}

.card ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card img {
  padding: 1rem;
}

.card p {
  color: #bfbfbf;
  padding: 1rem;
  line-height: 1.8rem;
  font-size: 1.1rem;
}
